@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin:0px;
    padding:0px;
}
html{scroll-behavior:smooth}
.nav ul li a {
    color: #221;
    text-decoration: none !important;
  }

.btn-details a{
    color: white;
    text-decoration: none !important;
}
main{
    width: 100%;
    padding: 20px;
    overflow: auto;
}
*{
    box-sizing: border-box;
}
#home,#product,#location,#contact{
    scroll-margin-top: 120px;
}
.container{
    position: inherit;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.container-col{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.col{
    flex-grow: 1;
    flex-basis: 0;
}
.content{
    width: 75%;
    float: left;
}
aside{
    width: 25%;
    padding-left: 20px;
    text-align: center;
    float: right;
}
header{
   display: inline;
}
.jumbotron {
    padding: 40px;
    background-color: #00c8eb;
    text-align: center;
    font-size: 20px;
    color: white;
  }
nav{
    text-align: center;
    background-color: aqua;
    position: sticky;
    top: 0;
    padding: 5px;
    padding-inline-start: 0;
}
li{
    display: inline;
    list-style-type: none;
    font-size: 1.25em;
    margin-right: 40px;
    text-transform: uppercase;
}
article{
    padding: 20px;
}
.banner{
    width: 70%;
    display: block;
    margin: 20px auto;
    border-radius: 20px;
}
.photo-header{
    width:275px;
    filter: drop-shadow(1px 1px 2px #222);
}
.photo-profile{
    width: 100%;
    border-radius: 20px;
}
table{
    width: 95%;
    font-size: 0.8em;
    margin: 0 auto;
}
.table th{
    text-align: justify;
}
.table td{
    text-align: right;
}
footer{
    /* display: sticky; */
    bottom: 0;
    padding: 5px;
    background-color: azure;
    /* position: fixed; */
    bottom: 0;
    left: 0;
}
footer p{
    margin: 0 auto;
}
.card{
    margin: 20px 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.hot-product{
    width: 95%;
    margin: 15px auto !important;
    border-radius: 15px;
    padding: 15px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  .price {
    color: grey;
    font-size: 1.2em;
  }
  .card button:hover {
    opacity: 0.7;
  }
  form{
    width: 70%;
  }
  .name{
    height: 30px;
  }
  .name,.msg{
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }
  .form-btn{
    border-radius: 5px;
    width: 20%;
    height: 6vh;
    border: 1px solid transparent;
    font-size: 1em;
  }
  .form-btn:hover {
    background-color: coral;
    color: white;
    text-decoration: none;
}
.form-item{
    margin: 3px 0;
}
.map{
    height: 300px;
    width: 75%;
}
.hot-product img{
    height: 200px;
    width: 90%;
}
.hot-product button{
    color: white;
    background-color: coral;
    border-radius: 15px;
}
.btn-color-picker{
    margin-bottom: 10px;
    width: 5px !important;
    margin-right: 15px;
}
@media screen and (max-width: 720px) {
   .content{
    width: 100%;
    float: none;
   }
    li{
        font-size: 0.9em;
        text-transform: capitalize;
    }
    .photoHeader{
        width:200px;
        filter: drop-shadow(1px 1px 2px #222);
    }
    aside{
        float: none;
        margin: 0 auto;
        width: 60%;
        padding-left: 0;
    }
    .profile{
        /* padding: 1px; */
        margin: 0 auto;
    }
   
    table{
        width:70%;
        font-size: 0.8em;
        margin: 0 auto;
    }
    footer{
        font-size: 0.75em;
    }
    .prod{
        flex-direction: column !important;
    }
    form{
        width: 80%;
      }
    .map{
        width: 100%;
    }
    .hot-product img{
        height: 350px;
        width:70%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
 }
 @media screen and (max-width: 440px) {
    aside{
        width: 90%;
    }
    li{
        /* display: inline; */
        /* list-style-type: none; */
        font-size: 0.65em;
        text-transform: capitalize;
        /* margin-right: 40px; */
    }
    .form-btn{
        font-size: 0.7em;
        width: 40%;
        height: 5vh;
    }
    .hot-product img{
        height: 200px;
        width: 80%;
    }
}